* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
  background-color: rgb(165, 214, 198);
}
main {
  width: 90vw;
  max-width: 620px;
  margin: 2rem auto;
}
.btn{
  display: block;
  margin: auto;
  padding: 8px 20px;
  background-color: rgb(80, 80, 214);
  color:#fff;
  outline: none;
  border: none;
  transition: all 0.3s linear;
}
.btn:hover{
  background-color: #fff;
  color: #833838;
}
h1 {
  text-align: center;
 margin: 4rem;
}
.title {
  text-align: center;
  margin-bottom: 4rem;
  text-transform: capitalize;
}
.underline {
  width: 6rem;
  height: 0.25rem;
  background: rgb(112, 112, 172);
  margin-left: auto;
  margin-right: auto;
}
.single-tour {
  background: #fff;
  border-radius: 0.5rem;
  margin: 2rem 0;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
  transition: all linear solid;
}
.single-tour:hover {
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.2);
}
.single-tour img {
  width: 100%;
  height: 20rem;
  object-fit: cover;
  border-top-right-radius: 0.5rem;
  border-top-left-radius: 0.5rem;
}
.tour-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;
}
.tour-info h4 {
  margin-bottom: 0;
}
.single-tour button {
  background: transparent;
  border-color: transparent;
  text-transform: capitalize;
  color: rgb(110, 110, 192);
  font-size: 1rem;
  cursor: pointer;
  padding-left: 0;
  width: 100%;
  transition: all 0.3s linear;
}
.single-tour button:hover{
  background-color: #833838;
  color: #fff;
}
span{
  color: #b31217;
  background: transparent;
  cursor: pointer;
  font-size: 15px;
  margin-left: 6px;
}
.tour-price {
  color: rgb(12, 14, 15);
  background: rgb(222, 61, 61);
  padding: 0.25rem 0.5rem;
  border-radius: 0.3rem;
}
.single-tour footer {
  padding: 1.5rem 2rem;
}
.single-tour .delete-btn {
  display: block;
  width: 200px;
  margin: 1rem auto 0 auto;
  color: rgb(209, 83, 83);
  letter-spacing:0.15rem;
  background: transparent;
  border: 1px solid rgb(61, 46, 46);
  padding: 0.25rem 0.5rem;
  border-radius: 0.45rem;
}
